p {
  color: red;
}
#s {
  color: #ff0d85;
}
#lo {
  list-style: none;
  color: red;
}
#line1 {
  height: 4px;
  width: 100%;
  color: black;
  background:black ;
}
#line0 {
  height: 4px;
  width: 100%;
  color: black;
  background:black ;
}
#lop {
  color: black;
}
#lop1 {
  color: black;
}
hr {
  height: 4px;
  width: 100%;
  color: black;
  background:black ;
}
h1 {
  color:#ff0d85 ;
  font-size: 4em;
  text-align: center;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  
}
#imas {
  border-bottom:2px solid black ;
  
}